.nav {
  flex: 0 0 325px;
  display: flex;
  flex-direction: column;

  .inner-nav {
    width: 85%;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: column;

    .user-info {
      display: flex;

      span {
        margin: auto 10px auto auto;
        font-weight: bold;
        font-size: 27px;
      }
      a {
        margin: auto auto auto 0;
        height: 100%;
        display: flex;

        svg {
          font-size: 27px;
        }
      }
    }

    .display-name {
      margin: 0 auto 0 auto;
      color: inherit;
    }

    .searchbar {
      margin-top: 10px;
    }

    .logo {
      font-size: 38px;
      margin: auto;
      color: rgba(238, 238, 238, 1);
      font-family: "Lobster", cursive;

      &:hover {
        color: rgba(238, 238, 238, 0.75);
      }
    }
  }
}
