.main-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  .center-results {
    margin: auto;
  }
  h1 {
    margin: 10px auto 10px 25px;
    color: inherit !important;
  }

  .result-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;
  }
}
