.main-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;

  .center-results {
    margin: auto;
  }
  h1 {
    margin-left: 5px;
    color: inherit !important;
  }
  .inner-results {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
