.card {
  width: 285px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: inherit;
  margin: 0 auto 10px auto;

  .inner-card {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
  img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: auto;
  }
  .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 5px;

    .display-name {
      font-weight: bold;
    }

    span {
      margin: auto;
    }
  }
}
