.card {
  width: 185px;
  background-color: #141414;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: inherit;
  margin: 0 auto 10px auto;

  img {
    height: 225px;
    width: 100%;
    margin: auto;
  }
  .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 5px;

    .display-name {
      font-weight: bold;
    }

    span {
      margin: auto;
    }
  }
}
